body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #FAFAFA;
  position: relative;
  overflow: auto;
}

main {
  margin-top: 120px;
}

.navbar {
  width: 100%;
  height: 90px;
  background-color: white;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .navbar__container {
    margin: 0 50px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__left {
      img {
        width: 100px;
        height: auto;
      }
    }

    .navbar__right {
      display: flex;
      gap: 30px;

      ul {
        display: flex;
        list-style: none;
        gap: 30px;
        font-weight: 400;
        font-size: 0.9rem;
        color: #808080;
        cursor: pointer;

        li:hover {
          color: #1E61EB;
        }

        li:nth-child(1) {
          color: #1E61EB;
          font-weight: 500;
        }
      }

      button {
        padding: 0px 30px;
        border: none;
        background-color: #1E61EB;
        color: white;
        font-weight: 400;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

.searchbar {
  background-color: white;
  height: 60px;
  margin: 0px 50px;
  border-radius: 10px;
}

.searchbar__container {
  height: 100%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .searchbar__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    img {
      width: 15px;
      height: auto;
    }

    input {
      color: #1E61EB;
      font-weight: 400;
      border: none;
      font-size: 1rem;
      opacity: 0.5;
    }

    input:focus {
      outline: none;
    }
  }

  button {
    padding: 12px 30px;
    border: none;
    background-color: #1E61EB;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    border-radius: 7px;
    cursor: pointer;
  }
}

.content {
  margin: 20px 50px;
  display: flex;

  .filterbar {
    background-color: white;
    border-radius: 10px;
    width: 18%;
    height: 100%;

    .filterbar__container {
      z-index: 1;
      margin: 18px 20px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .filter__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          h1 {
            font-size: 1rem;
            margin: 0;
            color: #2C3238;
          }

          img {
            width: 10px;
            height: auto;
          }
        }

        .searchcity {
          height: 40px;
          border: solid 1px #E2E8EF;
          border-radius: 5px;
          padding: 0 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          input {
            background-color: transparent;
            border: none;
            color: #1E61EB;
            font-size: 0.9rem;
            opacity: 0.5;
          }

          input:focus {
            outline: none;
          }
        }

        .filter__option {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 10px;

          .filter {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            color: #808080;
            font-weight: 400;

            .filter__item {
              display: flex;
              align-items: center;
              gap: 10px;

              input[type="checkbox"] {
                background-color: #E2E8EF;
                border: 1px solid #E2E8EF;
                width: 18px;
                height: 18px;
              }
            }

            label {
              font-size: 0.9rem;
            }

            span {
              color: #1E61EB;
              font-weight: 600;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }

  .cardlist {
    width: 100%;
    margin-left: 20px;

    .header__cardlist {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px;

      .sort {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.9rem;

        span:nth-child(1) {
          color: #808080;
          font-weight: 400;
        }
        

        span:nth-child(2) {
          font-weight: 500;
          color: #2C3238;
        }

        img {
          transform: rotate(180deg);
        }
      }
    }

    .cardlist__container {
      height: auto;
      background-color: transparent;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .card {
        width: 90%;
        height: auto;
        background-color: white;
        padding: 20px 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card__top {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          img:nth-child(1) {
            width: 70px;
            height: auto;
          }

          img:nth-child(2) {
            width: 22px;
            height: auto;
            cursor: pointer;
          }
        }

        .card__content {
          h2 {
            font-weight: 500;
            font-size: 1rem;
            color: #2C3238;
          }

          p {
            color: #808080;
            font-weight: 400;
            font-size: 0.8rem;
          }

          .buttons {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            button:nth-child(1) {
              padding: 13px 50px;
              border: none;
              background-color: #1E61EB;
              border-radius: 7px;
              font-weight: 400;
              color: white;
              cursor: pointer;
            }

            button:nth-child(2) {
              padding: 13px 50px;
              border: none;
              background-color: #E2E8EF;
              border-radius: 7px;
              color: #2C3238;
              font-weight: 400;
              cursor: pointer;
            }
          }
        }
      }
    }

    .premium {
      width: 100%;
      height: auto;
      margin-top: 20px;
      background-color: white;
      border-radius: 10px;

      .premium__container {
        margin: 30px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .premium__content {
          width: 50%;

          h3 {
            color: #2C3238;
            font-size: 1rem;
            font-weight: 500;
          }

          p {
            color: #808080;
            font-size: 0.9rem;
          }
        }

        button {
          padding: 13px 40px;
          border: none;
          background-color: #1E61EB;
          color: white;
          font-weight: 400;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }

    .pagination {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;

      img:nth-child(1) {
        transform: rotate(-90deg);
        cursor: pointer;
      }

      .arrow__pagination {
        transform: rotate(90deg);
        cursor: pointer;
      }

      button {
        padding: 8px 12px;
        background-color: white;
        border: 1px solid #E2E8EF;
        border-radius: 5px;
        cursor: pointer;
      }

      .active {
        padding: 8px 12px;
        background-color: #1E61EB;
        border-radius: 5px;
        color: white;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #1E61EB;
  margin-top: 30px;

  .footer__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 50px 50px;

    .footer__logo {
      display: flex;
      flex-direction: column;
      color: white;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .footer__content {
      display: flex;
      flex-direction: column;
      gap: 25px;

      span {
        font-size: 1.1rem;
        color: white;
        font-weight: 500;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .content {
    .cardlist {
      .cardlist__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .card {
          width: 90%;
          height: auto;
          background-color: white;
          padding: 20px 20px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .content {
    display: flex;
    flex-direction: column;

    .btn__filterbar__container {
      .btn__filterbar__content {
        left: 0;
        top: 0;
        background-color: white;
        z-index: 1000;
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        overflow-y: auto;

        .btn__filterbar__header {
          height: 90px;
          padding: 0 30px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          gap: 10px;
          cursor: pointer;

          img {
            transform: rotate(-90deg);
          }

          span {
            font-size: 1.1rem;
            font-weight: 500;
          }
        }

        .filterbar__container {
          max-height: 300px;
          margin: 20px 30px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 100px;

          .filter__content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

              h1 {
                font-size: 1.1rem;
                color: #2C3238;
                font-weight: 500;
              }

              img {
                cursor: pointer;
              }
            }

            .searchcity {
              height: 40px;
              border: solid 1px #E2E8EF;
              border-radius: 5px;
              padding: 0 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;

              input {
                background-color: transparent;
                border: none;
                color: #1E61EB;
                font-size: 0.9rem;
              }

              input:focus {
                outline: none;
              }
            }

            .filter__option {
              display: flex;
              flex-direction: column;
              gap: 10px;

              .filter {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .filter__item {
                  display: flex;
                  gap: 10px;
                }

                label {
                  color: #808080;
                }

                span {
                  color: #1E61EB;
                }
              }
            }
          }

          button {
            border: none;
            padding: 15px;
            background-color: #1E61EB;
            border-radius: 7px;
            color: white;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }

      .open {
        display: block;
      }
    }

    .cardlist {
      margin-left: 0px;

      .header__cardlist {
        padding: 20px 0px;
      }
    }
  }

  .filterbar {
    display: none;
  }

  .btn__filterbar__container {
    width: 100%;

    .btn__filter {
      border: none;
      height: 60px;
      width: 100%;
      background-color: #1E61EB;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .btn__filter {
    display: none;
  }
}

@media only screen and (max-width: 930px) {
  .content {
    .cardlist {
      .cardlist__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        .card {
          width: 95%;
        }
      }
    }
  }

  footer {
    .footer__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (min-width: 680px) {
  .btn__filterbar__container {
    .btn__filterbar__content {
      display: none;
    }
  }

  footer {
    .footer__nav {
      display: none;
    }
  }
}

@media only screen and (max-width: 680px) {
  main {
    margin-bottom: 60px;
  }

  .navbar {
    .navbar__container {
      .navbar__right {
        display: none;
      }
    }
  }

  .open {
    display: block;
  }

  .content {
    .cardlist {
      .cardlist__container {
        .card {
          width: 92%;
        }
      }

      .premium {
        .premium__container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;

          .premium__content {
            width: 100%;
          }

          button {
            margin-bottom: 20px;
            width: 100%;
          }
        }
      }
    }
  }

  footer {
    .footer__container {
      display: grid;
      grid-template-columns: none;
    }

    .footer__nav {
      background-color: white;
      position: fixed;
      margin: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;

      .footer__nav__container {
        margin: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          height: 100%;
          width: 80px;
          cursor: pointer;
        }
      }
    }
  }
}
